{% extends 'associado/base.html' %}

{% block content %}
     
   <main class="container-dashboard">
     <header class="header-interna">
        <h1>Painel Administrativo</h1>
        <p>Bem-vindo ao sistema de gestão do SindApp.</p>
     </header>

     <div class="cards-grid">
        <div class="card-status azul">
            <h3>1.240</h3>
            <p>Sócios Ativos</p>
        </div>
        <div class="card-status verde">
            <h3>45</h3>
            <p>Novas Adesões</p>
        </div>
        <div class="card-status laranja">
            <h3>12</h3>
            <p>Pendentes</p>
        </div>
     </div>

     <div class="acoes-dashboard">
        <button class="btn-novo">+ Novo Sócio</button>
        <div class="busca-container-direita">
           {% include 'associado/partials/_busca.html' %}
        </div>
     </div>  

     <section class="tabela-socios">
        <h2>Últimos Associados Atualizados</h2>
        {% for associado in lista_associados %}
            <div class="linha-socio">
                  <span>ID:{{associado.id}}</span>
                  <strong>{{associado.nome}}</strong>
                  <span class="badge ativo">{{associado.ativo}}</span>
                  <a href="{% url 'perfil' %}" class="btn-link">Ver Perfil</a>
            </div>
        {% endfor %} 
      
     </section>
   </main>

{% endblock %}
